name = "moltwarsdo"
main = "src/worker.js"
compatibility_date = "2025-02-01"

[[durable_objects.bindings]]
name = "MOLT_DO"
class_name = "MoltHubV2"

[[migrations]]
tag = "v2"
new_classes = ["MoltHubV2"]

routes = ["server.moltwars.xyz/*"]

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1
